POSTGRES_DB=all_in_one
POSTGRES_USER=all_in_one
POSTGRES_PASSWORD=local-development-only
MONGO_INITDB_DATABASE=all_in_one
RABBITMQ_DEFAULT_USER=all_in_one
RABBITMQ_DEFAULT_PASS=local-development-only
